<div style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px;padding-top:10px">
    <mat-card class="example-card mat-elevation-z15">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>directions_car</mat-icon></div>
        <mat-card-title>Ordem de Serviço</mat-card-title>
      </mat-card-header>

      <div fxLayout="row" fxLayoutAlign="space-evenly stretch">
        <mat-card class="example-card mat-elevation-z15" style="width: 45%;">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Serviço</mat-radio-button>
            <mat-radio-button value="2">Produto</mat-radio-button>
          </mat-radio-group>
          <br>
          <mat-form-field appearance="outline" class="input" style="margin-top: 10px;">
            <mat-label>Descrição</mat-label>
            <input
              matInput
              placeholder="Informe a Descrição"
              required
            />
            <mat-hint>* Obrigatório</mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" class="input" style="margin-top: 10px;">
            <mat-label>Valor</mat-label>
            <input
              matInput
              placeholder="Informe o Valor"
              required
            />
            <mat-hint>* Obrigatório</mat-hint>
          </mat-form-field>
          <br>
          <button mat-raised-button color="warn">
            <mat-icon>navigate_before</mat-icon>Cancelar
          </button>
          <button
            mat-raised-button
            color="warn"
          >
            Adicionar<mat-icon>add_circle</mat-icon>
          </button>
        </mat-card>
        <mat-card class="example-card mat-elevation-z15" style="width: 45%">

          
          

        </mat-card>
      </div>










      <mat-card-content>
        <mat-form-field appearance="outline" class="input" style="margin-top: 20px;">
          <mat-label>Nome do Cliente</mat-label>
          <input
            matInput
            placeholder="Informe o Nome"
            required
            disabled
          />
          <mat-hint>* Obrigatório</mat-hint>
        </mat-form-field>
          <img src="../../../assets/search.png" class="imageCuston">
          <br>
          <mat-form-field appearance="outline" class="input">
            <mat-label>Placa do Veículo</mat-label>
            <input
              matInput
              placeholder="Informe o Nome"
              required
              disabled
            />
            <mat-hint>* Obrigatório</mat-hint>
          </mat-form-field>  
          <img src="../../../assets/search.png" class="imageCuston">
          
          
        

        
    
    </mat-card-content>
    </mat-card>
  </div>
  