<div style="padding-left: 20px; padding-right: 20px;">
  <mat-card class="example-card mat-elevation-z20">
    <mat-card-header>
      <div mat-card-avatar><mat-icon>supervisor_account</mat-icon></div>
      <mat-card-title>Cadastro de Clientes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-horizontal-stepper #stepper>
        <mat-step [stepControl]="firstFormGroup" errorMessage="Dados Incompletos.">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Nome Completo</ng-template>
      
            <mat-form-field appearance="outline" class="input">
              <mat-label>Nome</mat-label>
              <input
                matInput
                placeholder="Informe o Nome"
                formControlName="nome"
                required
              />
              <mat-hint>* Obrigatório</mat-hint>
            </mat-form-field>
      
            <br />
      
            <mat-form-field appearance="outline" class="input">
              <mat-label>Sobrenome</mat-label>
              <input
                matInput
                placeholder="Informe o Sobrenome"
                formControlName="sobrenome"
                required
              />
              <mat-hint>* Obrigatório</mat-hint>
            </mat-form-field>
      
            <div>
              <p>Informe os dados e clique em próximo</p>
              <button mat-raised-button matStepperNext color="warn">
                Próximo<mat-icon>navigate_next</mat-icon>
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" errorMessage="Endereço Obrigatório">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Dados Pessoais</ng-template>
      
            <mat-form-field appearance="outline" class="input">
              <mat-label>Rua</mat-label>
              <input
                matInput
                placeholder="Informe a Rua"
                formControlName="rua"
                required
              />
              <mat-hint>* Obrigatório</mat-hint>
            </mat-form-field>
      
            <mat-form-field appearance="outline">
              <mat-label>Número</mat-label>
              <input
                matInput
                placeholder="Informe o Número"
                formControlName="numero"
                required
              />
              <mat-hint>* Obrigatório</mat-hint>
            </mat-form-field>
      
            <mat-form-field appearance="outline" class="inputBairro">
              <mat-label>Bairro</mat-label>
              <input
                matInput
                placeholder="Informe o Bairro"
                formControlName="bairro"
                required
              />
              <mat-hint>* Obrigatório</mat-hint>
            </mat-form-field>
      
            <div>
              <mat-form-field appearance="outline" class="inputTel">
                <mat-label>Telefone Celular</mat-label>
                <input
                  matInput
                  placeholder="(38) 99999-9999"
                  formControlName="celular"
                  required
                />
                <mat-icon matSuffix>phone</mat-icon>
                <mat-hint>* Obrigatório</mat-hint>
              </mat-form-field>
      
              <mat-form-field appearance="outline" class="inputTel">
                <mat-label>Telefone Fixo</mat-label>
                <input
                  matInput
                  placeholder="(38) 99999-9999"
                  formControlName="fixo"
                  required
                />
                <mat-icon matSuffix>phone</mat-icon>
                <mat-hint>* Obrigatório</mat-hint>
              </mat-form-field>
      
              <mat-form-field appearance="outline" class="input">
                <mat-label>CPF / CNPJ</mat-label>
                <input
                  matInput
                  placeholder="xxx.xxx.xxx-xx"
                  formControlName="cnpjcpf"
                  required
                />
                <mat-hint>* Obrigatório</mat-hint>
              </mat-form-field>
            </div>
            <div>
              <p>Informe os Dados.</p>
              <button mat-raised-button matStepperPrevious color="warn">
                <mat-icon>navigate_before</mat-icon>Voltar
              </button>
              <button mat-raised-button color="warn" matStepperNext>
                Próximo<mat-icon>navigate_next</mat-icon>
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Finalizar</ng-template>
          <p>Tem Certeza que deseja finalizar ?</p>
          <div>
            <button mat-raised-button matStepperPrevious color="warn">
              <mat-icon>navigate_before</mat-icon>Voltar
            </button>
            <button
              [disabled]="completeFormGroup.invalid"
              mat-raised-button
              color="warn"
              (click)="
              saveClient();
              stepper.reset();
              "
            >
              Concluir<mat-icon>check</mat-icon>
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
        </mat-card-content>
  </mat-card>
</div>
