<mat-toolbar class="mat-elevation-z6">
    <button mat-button [matMenuTriggerFor]="aboveMenu">Cadastro</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item>Clientes</button>
      <button mat-menu-item>Veículos</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="belowMenu">Ordem de Serviço</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item>Criar</button>
      <button mat-menu-item>Excluir</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="beforeMenu">Logs</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Histórico do Veículo</button>
      <button mat-menu-item>Exclusão de OS</button>
    </mat-menu>
</mat-toolbar>
